html
    head
        title Serverless Imager
        style
            include style.css
    body
        h1 Upload new images
            form(action="" method='POST' enctype='multipart/form-data')
                input(type='file' name='image' accept='image/*')
                br
                input(type='submit')
        h1 Current Images
        div.flex-container
            - for (var i = 0; i < images.length; i++)
                div
                    a(href=images[i].url)
                        img(src=images[i].thumbUrl)
                        p #{images[i].fileName}
